<div class="overlay" data-index="{{@index}}">
	<section class="section--middle">
		<i class="focus__close fa fa-times"></i>
		<h3 class="focus__head">{{ name }}</h3>
		<div class="markdown">
			{{{ content }}}
		</div>
	</section>
</div>